<div class="comment clearfix">

  <div class="comment_content">
    <p class="comment_name">
      Posted by: <%= comment.user.username %>,  <%= time_ago_in_words(comment.created_at) %> ago
    </p>
    <p class="comment_body"><%= comment.body %></p>
  </div>

  <% if current_user && user_owns_record?(comment) %>
    <%= button_to "Delete", 
              post_comment_path(comment.post, comment), 
              method: :delete, 
              data: { turbo_confirm: "Are you sure?" }, 
              class: "button" %>
  <% end %>

</div>