<%= form_with(model: [@post, @comment], local: true) do |f| %>

  <fieldset>
    <%= f.text_area :body, placeholder: "What are you thinking?", maxlength: 250 %>
    <% if @comment.errors[:body].any? %>
      <div class="error-message">
        <%= "#{Comment.human_attribute_name(:body)} #{@comment.errors[:body].first}" %>
      </div>
    <% end %>
  </fieldset>

  <%= f.submit %>

<% end %>