<header id="header">
  <nav>
    <p>Post Feed</p> <!-- Add link -->
    <%= link_to "Add Post", new_post_path, class: "button" %>
    <%= link_to "Sign Out", root_path, class: "button" %>
  </nav>
</header>