<aside id="sidebar">
  <ul>
    <li class="category">
      <%= link_to "Tumblr", root_path %>
    </li>
    <li>
      <%= link_to "All Posts", root_path %>
    </li>
    <li>Author Page</li><!-- Add link -->
  </ul>
  <p class="sign-in">Sign In</p>
</aside>